alembic
annotated-types
anyio
async-timeout
asyncpg
certifi
charset-normalizer
click
coverage
dnspython
docker
email-validator
exceptiongroup
fastapi
flake8
greenlet
gunicorn
h11
httpcore
httptools
httpx
idna
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
mccabe
numpy
opencv-python
orjson
packaging
pluggy
psycopg2-binary
pycodestyle
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pyflakes
pytest
pytest-cov
python-dotenv
python-multipart
PyYAML
requests
sniffio
SQLAlchemy
starlette
tomli
typing_extensions
ujson
urllib3
uvicorn
uvloop
watchfiles
websockets
